<!-- Form Task -->
<div class="TaskForm" *ngIf="!render">
  <form [formGroup]="form" (ngSubmit)="Submit()">
    <select formControlName="category" [class]="'category ' + this.form.value.category">
      <option value="">CATEGORY</option>
      <option value="development">DEVELOPMENT</option>
      <option value="design">DESIGN</option>
      <option value="management">MANAGEMENT</option>
      <option value="marketing">MARKETING</option>
    </select>
    <input type="text" name="name" placeholder="Name..." formControlName="name">
    <input type="text" name="tags" placeholder="Tag..." formControlName="tags">
    <textarea name="Description" formControlName="description" placeholder="Description..."></textarea>
    <label>PRIORITY</label>
    <select formControlName="priority" class="priority">
      <option value="">Priority</option>
      <option value="High">High</option>
      <option value="Med">Med</option>
      <option value="Low">Low</option>
    </select>
    <label>DURATION</label>
    <input type="number" placeholder="Days..." formControlName="duration" class="duration">
    <button type="submit" class="done">DONE</button>
    <button (click)="Cancel()" class="cancel">CANCEL</button>
  </form>
  <hr>
</div>

<!-- Rendered Task -->
<div class="TaskCard" *ngIf="render">
  <h2 [class]="task.category">{{ task.category.toUpperCase() }}</h2>
  <h1>{{ task.name }}</h1>
  <div class="tagList">
    <Tag *ngFor="let tag of task.tags" [name]="tag">{{tag}}</Tag>
  </div>
  <p>{{task.description}}</p>

  <div class="taskProp">
    <h3>PRIORITY</h3>
    <small>{{ task.priority }}</small>
  </div>
  <div class="taskProp">
    <h3>Duration</h3>
    <small>{{ task.duration }}D</small>
  </div>

  <select (change)="onChange($event)">
    <option selected hidden></option>
    <option value="progress">Progress</option>
    <option value="delete">Delete</option>
  </select>

  <hr>
</div>