@import '../../Styles/Colors';

.marketing    { color: $Green !important; }
.development  { color: $Yellow !important; }
.design       { color: $Magenta !important; }
.management       { color: $Blue !important; }

.TaskForm {
  form {
    margin-right: 0rem;
    width: 100%;
  }

  input, select, textarea { 
    display: block; 
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    resize: none;
    font-family: Inconsolata;
    font-size: 1rem;
    width: calc(100% - 1rem);
  }

  select {
    color: $Dark2;
    width: fit-content;
    padding-left: 0rem;
    margin-left: -0.25rem;
    border: solid $Dark1 1.25px;
    border-radius: 0.2rem;
  }

  textarea {
    color: $Dark1;
    border: solid $Dark1 1.25px;
    border-radius: 0.2rem;
    padding: 0.25rem 0.4rem;
    margin-bottom: 0.75rem;
  }

  input {
    color: $Dark1;
    border: solid $Dark1 1.25px;
    border-radius: 0.2rem;
    padding: 0.25rem 0.4rem;
  }

  label {
    font-size: large;
    font-weight: 600;
    color: $Dark2;
    display: inline;
    float: left;
    margin-right: 0.5rem;
  }

  button {
    margin: 0.5rem 1rem 0.5rem 0rem;
    padding: 0.2rem 0.9rem;
    resize: none;
    font-family: Inconsolata;
    font-size: 1rem;
    font-weight: 600;
    background-color: $Background;
    border: solid 1.5px;
    border-radius: 0.2rem;
  }

  .category {
    border: none !important;
    letter-spacing: 0.16rem;
    margin-bottom: 0.25rem;

    &:focus {
      outline: none;
    }
  }
  .duration { width: calc(100% - 6rem); }
  .priority { width: calc(100% - 5.1rem); }

  .done   { border-color: $Green; color: $Green; }
  .cancel { border-color: $Red; color: $Red; }
}

.TaskCard {
  width: 100%;
  display: inline-block;

  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: $Yellow;
    margin-bottom: 0.25rem;
  }
  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  hr { margin-top: 1rem; }
  p { 
    color: $Dark1; 
    margin-bottom: 0.5rem;
  }

  select {
    display: inline-block;
    width: 1.1rem;
    margin-top: 1.5rem;
    float: right;
  }

  .taskProp {
    width: 7rem;
    display: inline-block;
    overflow: auto;
    margin-top: 0rem;
    h3 { 
      font-size: 1rem; 
      margin-bottom: 0.5rem;
    }
    small { 
      color: $Dark1; 
      font-size: medium;
    }
  }

  .tagList {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}