$Background:  #ffffff;
$Light:       #E3E7E8;
$Dark1:       #95A5A6;
$Dark2:       #5C6C70;
$Green:       #50A254;
$Red:         #E74C3C;
$Magenta:     #DB34AC;
$Blue:        #3498DB;
$Yellow:      #FFB142;