@import '../../Styles/Colors';

h4 {
  display: inline;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: $Blue;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  padding: 0.1rem 0.2rem 0.1rem 0.5rem;
  border-radius: 0.3rem;
  letter-spacing: 0.2rem;
}