@import '../../Styles/Colors';

:host {
  width: calc(25% - 2rem);
  min-width: 14rem;
  float: left;
  color: $Dark2;
  padding: 0rem 2rem 0rem 0rem;

  .stageContent {
    height: 70vh;
    overflow-y: overlay;

    &::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .spacer { margin-bottom: 1rem; }
  .header { display: inline; font-weight: 500;}
  .add { 
    float: right; 
    margin-top: -0.15rem; 
    background-color: $Background;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $Dark2;
  }
}