<h2 class="header">{{ stageName.toUpperCase() }}</h2>
<button class="add" *ngIf="stageName == 'todo'" (click)="formOpen = true">+</button>

<div class="spacer"></div>

<div class="stageContent">
  <TaskCard *ngIf="stageName == 'todo' && formOpen" [render]="false" (cancelForm)="formOpen=false"/>
  <TaskCard *ngFor="let task of tasks" [render]="true" [task]="task"/>
</div>