@import '../../Styles/Colors';

hr {
  border: solid $Light 0.5px;
}

button {
  margin-top: 2rem;
  background-color: $Background;
  border: none;
  color: $Blue;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.19rem;
  cursor: pointer;
}