<Navbar />

<div class="content">
  <h1>{{ project.name.toUpperCase() }}</h1>

  <TaskStage stageName="todo" [tasks]="StageTasks('todo')"/>
  <TaskStage stageName="in-progress" [tasks]="StageTasks('in-progress')"/>
  <TaskStage stageName="review" [tasks]="StageTasks('review')"/>
  <TaskStage stageName="done" [tasks]="StageTasks('done')"/>
</div>