@import '../../Styles/Colors';

a {
  text-decoration: none;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: $Dark2;
  font-size: 1.1875rem;
  font-weight: 600;
  letter-spacing: 0.19rem;
}

p {
  color: $Dark1;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

hr {
  border: solid $Light 0.5px;
}