<nav>
  <!-- TODO: This should probably be a seperate component -->
  <svg width="36" height="41" viewBox="0 0 36 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.176 8.752L3.048 10.048V16H0.96V1.048H3.024H3.264V1.24C3.168 1.336 3.104 1.44 3.072 1.552C3.056 1.664 3.048 1.856 3.048 2.128V7.672L8.88 0.927999C8.976 0.943999 9.08 0.959999 9.192 0.975999C9.32 0.992 9.44 1.008 9.552 1.024C9.68 1.024 9.808 1.032 9.936 1.048C10.064 1.048 10.184 1.048 10.296 1.048H11.112L5.664 7.432L11.472 16L9 16.096L4.176 8.752ZM20.64 11.92H15.072L15.432 10.408H20.232L20.64 11.92ZM17.976 5.08L14.352 16H12.36L17.712 0.831999H18.288L23.64 16H21.576L17.976 5.08ZM25.104 1.048H27.12L33 11.728L32.952 1.048H34.824H35.064V1.24C34.968 1.336 34.904 1.44 34.872 1.552C34.856 1.664 34.848 1.856 34.848 2.128V16H33.12L26.976 4.672V16H25.104V1.048ZM1.056 41V26.048H5.424C6.288 26.048 7.04 26.136 7.68 26.312C8.32 26.488 8.848 26.744 9.264 27.08C9.68 27.4 9.984 27.784 10.176 28.232C10.384 28.68 10.488 29.176 10.488 29.72C10.488 30.168 10.4 30.616 10.224 31.064C10.064 31.496 9.824 31.888 9.504 32.24C9.184 32.576 8.784 32.832 8.304 33.008C8.72 33.168 9.096 33.376 9.432 33.632C9.784 33.888 10.08 34.184 10.32 34.52C10.56 34.84 10.744 35.192 10.872 35.576C11.016 35.96 11.088 36.352 11.088 36.752C11.088 37.392 10.968 37.976 10.728 38.504C10.504 39.016 10.16 39.464 9.696 39.848C9.232 40.216 8.64 40.504 7.92 40.712C7.2 40.904 6.36 41 5.4 41H1.056ZM3.072 39.272H5.688C6.344 39.272 6.912 39.184 7.392 39.008C7.888 38.832 8.272 38.552 8.544 38.168C8.816 37.784 8.952 37.288 8.952 36.68C8.952 36.12 8.832 35.632 8.592 35.216C8.352 34.784 7.968 34.448 7.44 34.208C6.912 33.952 6.192 33.824 5.28 33.824H3.072V39.272ZM3.072 32.168H5.184C6 32.168 6.648 32.072 7.128 31.88C7.608 31.688 7.944 31.424 8.136 31.088C8.344 30.736 8.448 30.352 8.448 29.936C8.448 29.616 8.392 29.328 8.28 29.072C8.168 28.8 7.992 28.568 7.752 28.376C7.528 28.168 7.224 28.008 6.84 27.896C6.456 27.784 5.992 27.728 5.448 27.728H3.072V32.168ZM20.64 36.92H15.072L15.432 35.408H20.232L20.64 36.92ZM17.976 30.08L14.352 41H12.36L17.712 25.832H18.288L23.64 41H21.576L17.976 30.08ZM25.104 26.048H27.12L33 36.728L32.952 26.048H34.824H35.064V26.24C34.968 26.336 34.904 26.44 34.872 26.552C34.856 26.664 34.848 26.856 34.848 27.128V41H33.12L26.976 29.672V41H25.104V26.048Z" fill="black"/>
  </svg>

  <input type="text" placeholder="Search...">
  
  <a>Profile</a>
  <a>Settings</a>
</nav>