@import '../../Styles/Colors';

nav {
  display: block;
  height: 3rem;
  padding: 0.5rem 0rem 0.15rem 0rem;

  input {
    display: inline-block;
    width: 32rem;
    font-family: Inconsolata;
    font-size: 1.15rem;
    color: white;
    background-color: $Light;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.15rem;
    margin-left: calc(50% - 16rem - 0.75rem);
  }

  svg { 
    display: inline-block; 
    width: 1.5rem; 
    float: left;
  }

  a {
    color: $Dark1;
    display: inline-block;
    margin-top: 0.8rem;
    float: right;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}